.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    width: fit-content;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-alt);
    color: var(--color-on-surface);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: var(--line-height-sm);
    cursor: pointer;

    .icon {
        font-size: var(--font-size-sm);
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
    }

    .text {
        font-size: var(--font-size-sm);
    }
    .remove {
        cursor: pointer;
        font-size: var(--font-size-sm);
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
    }
    &.primary {
        background-color: var(--color-primary);
        color: var(--color-on-primary);
    }
    &.secondary {
        background-color: var(--color-secondary);
        color: var(--color-on-secondary);
    }
    &.tertiary {
        background-color: var(--color-tertiary);
        color: var(--color-on-tertiary);
    }
    &.error {
        background-color: var(--color-error);
        color: var(--color-on-error);
    }
    &.warning {
        background-color: var(--color-warning);
        color: var(--color-on-warning);
    }
    &.info {
        background-color: var(--color-info);
        color: var(--color-on-info);
    }
    &.success {
        background-color: var(--color-success);
        color: var(--color-on-success);
    }
}   