.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    width: fit-content;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-alt);
    color: var(--color-on-surface);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: var(--line-height-sm);
    cursor: pointer;

    .icon {
        font-size: var(--font-size-sm);
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
    }

    .text {
        font-size: var(--font-size-sm);
    }
    .remove {
        cursor: pointer;
        font-size: var(--font-size-sm);
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
    }
    &.primary {
        background-color: var(--color-primary);
        color: var(--color-on-primary);
    }
    &.secondary {
        background-color: var(--color-secondary);
        color: var(--color-on-secondary);
    }
    &.tertiary {
        background-color: var(--color-tertiary);
        color: var(--color-on-tertiary);
    }
    &.error {
        background-color: var(--color-error);
        color: var(--color-on-error);
    }
    &.warning {
        background-color: var(--color-warning);
        color: var(--color-on-warning);
    }
    &.info {
        background-color: var(--color-info);
        color: var(--color-on-info);
    }
    &.success {
        background-color: var(--color-success);
        color: var(--color-on-success);
    }
}

.tiny {
    padding: 2px var(--space-1);
    font-size: var(--font-size-xs);
    gap: 4px;
    border-radius: var(--radius-sm);

    .icon {
        font-size: 10px;
    }

    .text {
        font-size: var(--font-size-xs);
    }

    .remove {
        font-size: 10px;
    }
}

.small {
    padding: var(--space-1) var(--space-2);
    font-size: var(--font-size-sm);
    gap: var(--space-1);

    .icon {
        font-size: var(--font-size-xs);
    }

    .text {
        font-size: var(--font-size-sm);
    }

    .remove {
        font-size: var(--font-size-xs);
    }
}

.medium {
    padding: var(--space-1) var(--space-2);
    font-size: var(--font-size-sm);
    gap: var(--space-1);
}

.large {
    padding: var(--space-2) var(--space-3);
    font-size: var(--font-size-md);
    gap: var(--space-2);

    .icon {
        font-size: var(--font-size-sm);
    }

    .text {
        font-size: var(--font-size-md);
    }

    .remove {
        font-size: var(--font-size-sm);
    }
}   