.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--color-container-high);
    border-radius: 8px;
    padding: 6px 16px;
    width: calc(100% - 32px);
    height: 40px;
    margin: 0;
    transition: all var(--standard-time) var(--standard-ease);
  
    &.focus {
      outline: 2px solid var(--color-primary);
  
      .label {
        color: var(--color-primary);
      }
    }
  
    &.errored {
      outline: 2px solid var(--color-error);
  
      .label {
        color: var(--color-error);
      }
  
      input {
        caret-color: var(--color-error);
      }
    }
  
    &.disabled {
      background-color: var(--color-disabled-container);
      user-select: none;
      pointer-events: none;
      outline: none;
  
      .label, input, * {
        color: var(--color-on-disabled-container);
      }
  
      input::placeholder {
        color: var(--color-on-disabled-container);
      }
    }
  
    &:hover {
      background-color: var(--color-surface-hover);
    }
  
    &.outline {
      background-color: transparent;
      outline: none;
  
      fieldset {
        border-color: var(--color-outline);
      }
  
      &.focus {
        fieldset {
          border-width: 2px;
          border-color: var(--color-primary);
        }
      }
  
      &.errored {
        fieldset {
          border-width: 2px;
          border-color: var(--color-error);
        }
      }
  
      &:hover {
        fieldset {
          border-width: 2px;
          border-color: var(--color-on-surface);
        }
      }
  
      &.disabled {
        background-color: transparent;
  
        fieldset {
          border-color: var(--color-disabled);
        }
  
        .label, input, * {
          color: var(--color-disabled);
        }
  
        input::placeholder {
          color: var(--color-disabled);
        }
      }
  
      .input {
        top: 50%;
        transform: translateY(-50%);
      }
  
      .label {
        &.hasValue {
          top: -5px;
        }
      }
    }
  
    &.showOutlineNotch {
      legend {
        max-width: 100%;
      }
    }
  
    &.hasLeadingIcon {
      fieldset {
        padding-left: 45px;
      }
    }
  
    input {
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      outline: none;
      caret-color: var(--color-primary);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-on-surface);
      width: 100%;
      text-align: left;
    }
  
    fieldset {
      text-align: left;
      position: absolute;
      inset: -8px 0px 0px;
      margin: 0px;
      padding: 0px 13px;
      pointer-events: none;
      border-radius: inherit;
      border-style: solid;
      border-width: 2px;
      overflow: hidden;
      min-width: 0%;
      font-size: 13px;
      legend {
        opacity: 0;
        max-width: 0.01px;
        white-space: nowrap;
        padding: 0;
      }
    }
  }
  
  .inputWrapper {
    cursor: text;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-on-surface-alt);
    user-select: none;
    transition: all var(--standard-time) var(--standard-ease);
  
    &.hasValue {
      top: 6px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  .input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    &.hide {
      display: none;
    }
    &.hasLabel {
      top: 65%;
    }
  }

  .clearInputIcon {
    cursor: pointer;
    font-size: 16px;
    color: var(--color-on-surface-alt);
  }
  .leadingIcon {
    margin-right: 8px;
  }
  
  .trailingIcon {
    margin-left: 12px;
  }